# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\toria\Wichtige Dokumente\IT KOLLEG\Jahr 2\POS\Praxis\Abgaben\Maven\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
